html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

body {
    /* font-family: 'Lora', serif; */
    font-family: 'Open Sans', sans-serif;
    color: #000;
    background-color: #fff;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

.header-container {
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.content {
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background: rgba(19, 17, 18, 0.4);
    height: 90px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 80px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 120px;
    }

    &__logo {
        width: 300px;
    }

    &__theme {
        width: 123px;
        height: 40px;
        border-radius: 30px;
        border: 1px solid #fff;
        position: relative;

        &-btn {
            border-radius: 30px;
            height: 38px;
            width: 86px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-size: 14px;
            font-weight: 700;
            position: absolute;
            top: 0;
            user-select: none;

            &.dark {
                left: 0;
                color: #363636;
                background-color: #fff;
            }

            &.light {
                left: auto;
                right: 0;
                color: #fff;
                background-color: #363636;
            }
        }
    }

    &__right {
        display: flex;
        gap: 65px;
        align-items: center;
    }

    &__lang {
        &-svg {
            cursor: pointer;
            vertical-align: middle;
        }
    }

    &__burger {
        width: 45px;
        height: 26px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        &-line {
            height: 2px;
            width: 100%;
            background-color: #fff;

            &.hidden {
                display: none;
            }
        }
    }
}

.menu {
    position: absolute;
    top: 0;
    right: -120%;
    background: url('../images/menu-bg.webp') no-repeat center/cover;
    width: 100%;
    padding: 45px 0 70px 0;
    transition: all 0.7s linear;
    height: 100vh;
    z-index: 100;

    &.active {
        right: 0;
        overflow-y: auto;
    }

    &__container {
        max-width: 1690px;
        width: 100%;
        margin: 0 auto;
        padding: 0 150px 0 10px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-bottom: 130px;
    }

    &__contacts {
        display: flex;
        gap: 55px;
        align-items: center;
    }

    &__phone,
    &__email {
        display: flex;
        gap: 12px;
        align-items: center;
    }

    &__link {
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
    }

    &__lang {
        cursor: pointer;
    }

    &__close {
        position: absolute;
        right: -140px;
        cursor: pointer;
    }

    &__nav {
        display: flex;
        gap: 65px;
        margin-bottom: 160px;
    }

    &__left {
        border-right: 1px solid #fff;
        padding-right: 65px;
        max-width: 465px;
        width: 100%;

        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            width: 100%;
            height: 40px;
            cursor: pointer;
        }

        &-item + &-item {
            margin-top: 30px;
        }

        &-text {
            color: #fff;
            font-size: 24px;
            font-weight: 800;
            line-height: 22.5px;
        }

        &-arrow {
            transition: all 0.2s linear;
        }

        &-item.active {
            svg {
                transform: rotate(-90deg);
            }
        }
    }

    &__right {
        &-content {
            display: none;

            &.active {
                display: block;
            }
        }

        &-title {
            color: #fff;
            font-size: 24px;
            font-weight: 800;
            line-height: 22.5px;
            margin-bottom: 30px;
        }

        &-items {
            margin-bottom: 65px;
        }

        &-item {
            color: #fff;
            font-size: 24px;
            font-weight: 400;
            line-height: 30px;
        }

        &-item + &-item {
            margin-top: 22px;
        }
    }

    &__button {
        border-radius: 5px;
        background: #0d2b74;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        width: 310px;
        height: 65px;
        margin-left: auto;
        display: block;
        margin-bottom: 85px;
        transition: all 0.15s linear;

        &:hover {
            box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.3);
        }
    }

    &__mobsocials {
        display: none;
        gap: 27px;
    }

    &__mobsocial {
        img {
            width: 40px;
            height: 40px;
            vertical-align: middle;
        }
    }

    &__socials {
        display: flex;
        gap: 65px;
        align-items: center;
    }

    &__social {
        display: flex;
        gap: 25px;
        align-items: center;

        &-img {
            width: 30px;
            height: 30px;
        }

        &-link {
            color: #fff;
            font-size: 18px;
            font-weight: 600;
            line-height: 16px;
            transition: all 0.15s linear;

            &:hover {
                text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
            }
        }
    }
}

.back {
    margin-bottom: 50px;

    &__btn {
        display: flex;
        gap: 14px;
        align-items: center;
        cursor: pointer;

        &-text {
            color: #808080;
            font-size: 20px;
            font-weight: 600;
        }
    }
}

.search {
    margin-bottom: 60px;

    &__form {
        display: flex;
        gap: 55px;
        align-items: center;

        &-inputs {
            display: flex;
            gap: 20px;
        }

        &-input {
            width: 220px;
            height: 57px;
            color: #808080;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: 400;
            padding: 0 20px;
            border-radius: 5px;
            border: 1px solid #808080;
        }

        &-wrapper {
            position: relative;
            width: 220px;
        }

        &-select {
            width: 100%;
            padding: 0 20px;
            height: 57px;
            border-radius: 5px;
            border: 1px solid #808080;
            cursor: pointer;
            color: #808080;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: 400;
            display: flex;
            align-items: center;

            &::after {
                content: '';
                background: url(../images/select-arrow.png) no-repeat center/cover;
                width: 14px;
                height: 9px;
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
            }
        }

        &-real-select {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            color: #808080;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: 400;
            padding: 0 20px;
        }

        &-btn {
            width: 202px;
            height: 70px;
            border-radius: 10px;
            background: #0d2b74;
            color: #fff;
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
        }
    }
}

.filters {
    margin-bottom: 100px;

    &__wrapper {
        display: flex;
        max-width: 840px;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
        gap: 15px;
    }

    &__item {
        &-box {
            width: 120px;
            height: 120px;
            border-radius: 9px;
            border: 1px solid #808080;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
            cursor: pointer;

            &.active {
                background-color: #0d2b74;

                svg {
                    fill: #fff;
                }
            }
        }

        &-text {
            color: #878788;
            font-size: 20px;
            font-weight: 400;
            text-align: center;
        }
    }
}

.cards {
    margin-bottom: 45px;

    &__wrapper {
        display: flex;
        gap: 18px;
        flex-wrap: wrap;
    }

    &__item {
        max-width: 346px;
        width: 100%;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        &-wrapper {
            border-radius: 10px;
            position: relative;
            margin-bottom: 13px;

            img {
                vertical-align: middle;
            }

            .swiper-pagination-bullet {
                background: rgba(255, 255, 255, 0.7);
            }

            .swiper-pagination-bullet-active {
                background: #fff;
            }
        }

        &-heart {
            position: absolute;
            top: 20px;
            right: 15px;
            cursor: pointer;
            z-index: 10;

            &.active {
                path {
                    fill: red;
                    fill-opacity: 1;
                    stroke: red;
                }
            }
        }

        &-inner {
            padding: 0 10px 15px 10px;
        }

        &-top {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            margin-bottom: 10px;
        }

        &-title,
        &-id {
            color: #000;
            font-size: 20px;
            font-weight: 600;
        }

        &-bottom {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            align-items: center;
        }

        &-text {
            color: #808080;
            font-size: 18px;
            font-weight: 300;
            line-height: 19px;
        }

        &-text + &-text {
            margin-top: 10px;
        }

        &-price {
            margin-top: 10px;
            color: #0d2b74;
            font-size: 18px;
            font-weight: 600;
            line-height: 19px;
        }

        &-likes {
            display: flex;
            gap: 25px;
        }

        &-like,
        &-dislike {
            cursor: pointer;

            &.active {
                path {
                    fill: red;
                }
            }
        }
    }
}

.pagination {
    margin-bottom: 100px;

    &__wrapper {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    &__item {
        width: 64px;
        height: 64px;
        border-radius: 9px;
        border: 1px solid #808080;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: #000;
        font-family: 'Lora', serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 36px;

        &.active {
            border: 2px solid #0d2b74;
            color: #0d2b74;

            path {
                stroke: #0d2b74;
            }
        }
    }
}

.request {
    margin-bottom: 100px;

    &__wrapper {
        display: flex;
        justify-content: center;
        gap: 240px;
    }

    &__info {
        &-title {
            color: #000;
            font-size: 21px;
            font-weight: 600;
            margin-bottom: 14px;
        }

        &-text {
            color: #000;
            font-size: 20px;
            font-weight: 300;
        }
    }

    &__form {
        max-width: 590px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;

        &-input {
            width: 100%;
            height: 62px;
            padding: 0 26px;
            border-radius: 5px;
            border: 1px solid #000;
            color: #878787;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: 400;
            outline-color: #0d2b74;
        }

        &-area {
            height: 160px;
            resize: none;
            border-radius: 5px;
            border: 1px solid #000;
            padding: 26px;
            color: #878787;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 5px;
            outline-color: #0d2b74;
        }

        &-box {
            display: flex;
            gap: 20px;
            margin-bottom: 20px;
            align-items: center;
        }

        &-wrapper {
            position: relative;
        }

        &-label {
            width: 37px;
            height: 37px;
            border-radius: 7px;
            border: 1px solid #000;
            display: block;

            img {
                opacity: 0;
                transition: all 0.15s linear;
            }

            &.active {
                img {
                    opacity: 1;
                }
            }
        }

        &-checkbox {
            position: absolute;
            opacity: 0;
            z-index: -1;
        }

        &-text {
            color: #000;
            font-size: 14px;
            font-weight: 400;
        }

        &-btn {
            border-radius: 5px;
            background: #0d2b74;
            color: #fff;
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            font-weight: 600;
            height: 67px;
            border: none;
            cursor: pointer;
        }
    }
}

.contact {
    height: 355px;
    background: url(../images/contact-bg.webp) no-repeat center/cover;
    display: flex;
    align-items: center;

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        &-text {
            color: #fff;
            font-family: 'Lora', serif;
            font-size: 36px;
            font-weight: 500;
        }

        &-btn {
            max-width: 330px;
            width: 100%;
            height: 70px;
            border-radius: 10px;
            background: #0d2b74;
            color: #fff;
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            font-weight: 600;
            line-height: 30px;
        }
    }
}

.footer {
    background: url(../images/footer-bg.webp) no-repeat center/cover;
    padding: 57px 0 0 0;

    &__wrapper {
        display: flex;
        margin-bottom: 50px;
        gap: 260px;
    }

    &__info {
        &-logo {
            width: 200px;
            margin-bottom: 55px;
        }

        &-item {
            display: flex;
            align-items: center;
        }

        &-item + &-item {
            margin-top: 15px;
        }

        &-box {
            width: 20px;
            display: flex;
            justify-content: center;
        }

        &-link {
            margin-left: 20px;
            color: #fff;
            font-family: 'Lora', serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 25.509px;
        }
    }

    &__menu {
        max-width: 600px;
        width: 100%;
    }

    &__list {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 15px;

        &-item {
            a {
                color: #fff;
                font-family: 'Lora', serif;
                font-size: 18px;
                font-weight: 500;
                line-height: 22.5px;
                transition: all 0.15s linear;

                &:hover {
                    color: #5082fc;
                }
            }
        }

        &-item + &-item {
            margin-top: 47px;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 27px;
    }

    &__btn {
        max-width: 330px;
        height: 70px;
        width: 100%;
        background-color: transparent;
        border-radius: 10px;
        border: 1px solid #fff;
        color: #fff;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
        transition: all 0.15s linear;

        &:hover {
            background-color: #0d2b74;
            border-color: #0d2b74;
        }

        &:active {
            background-color: #0d2b74;
            border-color: #0d2b74;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 16px;

        &-img {
            transition: all 0.15s linear;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &__copy {
        color: #fff;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        padding: 13px 0 22px 0;
        border-top: 1px solid #fff;
    }
}

@media screen and (max-width: 1500px) {
    .cards {
        &__wrapper {
            max-width: 1400px;
            width: 100%;
            justify-content: center;
            margin: 0 auto;

            &:after {
                content: '';
                width: 346px;
                display: block;
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .search {
        &__form {
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }
    }
}

@media screen and (max-width: 1280px) {
    .search {
        &__form {
            &-inputs {
                flex-wrap: wrap;
                justify-content: center;
            }
        }

        .price-wrapper {
            width: 460px;
            order: 1;
        }
    }

    .request {
        &__wrapper {
            gap: 100px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .menu {
        &__container {
            padding-right: 100px;
        }

        &__close {
            right: -80px;
        }
    }

    .cards {
        &__wrapper {
            &:after {
                display: none;
            }
        }
    }

    .request {
        &__wrapper {
            gap: 50px;
            flex-direction: column;
            align-items: center;
        }
    }

    .contact {
        &__info {
            flex-direction: column;

            &-text {
                text-align: center;
            }
        }
    }
    .footer {
        &__wrapper {
            gap: 100px;
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 13px;
    }
    .header {
        margin-bottom: 50px;

        &__wrapper {
            gap: 15px;
        }

        &__left {
            gap: 20px;
        }

        &__right {
            gap: 20px;
        }

        &__theme {
            display: none;
            width: 100px;
            height: 30px;

            &-btn {
                height: 28px;
                width: 70px;
            }
        }

        &.active {
            background-color: #2a2929;

            .header__left {
                max-width: 600px;
                width: 100%;
                justify-content: space-between;
            }

            .header__logo {
                width: 200px;
            }

            .header__theme {
                display: block;
            }
        }
    }

    .menu {
        top: 90px;
        background-image: url(../images/menu-mountains.webp);
        background-color: #3a3939;

        &__container {
            padding: 0 15px;
        }

        &__top,
        &__right {
            display: none;
        }

        &__nav {
            margin-bottom: 144px;
        }

        &__left {
            border: none;
            padding-right: 0;

            &-arrow {
                display: none;
            }

            &-item {
                padding-left: 50px;
                position: relative;

                &.active {
                    &::before {
                        content: '';
                        height: 2px;
                        width: 20px;
                        background-color: #fff;
                        position: absolute;
                        left: 0px;
                    }
                }
            }

            &-item + &-item {
                margin-top: 25px;
            }
        }

        &__button {
            margin-left: 0;
            margin-bottom: 30px;
        }

        &__socials {
            display: none;
        }

        &__mobsocials {
            display: flex;
        }
    }

    .footer {
        &__wrapper {
            flex-direction: column;
            margin-bottom: 90px;
        }

        &__info {
            &-logo {
                margin-bottom: 0;
            }

            &-item {
                display: none;
            }
        }

        &__inner {
            flex-direction: column;
            align-items: flex-start;
            gap: 55px;
        }
    }
}

@media screen and (max-width: 550px) {
    .header {
        height: 60px;
        margin-bottom: 30px;

        &__logo {
            width: 173px;
        }

        &__theme {
            width: 51px;
            height: 21px;

            &-btn {
                height: 19px;
                width: 35px;
                font-size: 9px;
            }
        }

        &__right {
            gap: 20px;
        }

        &__lang-svg {
            width: 20px;
            height: 20px;
        }

        &__burger {
            width: 26px;
            height: 20px;

            &-line {
                &.hidden {
                    display: block;
                }
            }
        }

        &.active {
            .header__logo {
                width: 83px;
            }
        }
    }

    .menu {
        top: 60px;
        padding-top: 25px;

        &__left {
            &-item {
                height: auto;
                padding-left: 30px;

                &.active {
                    &::before {
                        height: 1px;
                        width: 18px;
                    }
                }
            }

            &-item + &-item {
                margin-top: 20px;
            }

            &-text {
                font-family: 'Lora', serif;
                font-size: 18px;
                font-weight: 400;
                line-height: 22.5px;
            }
        }

        &__button {
            width: 100%;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 25px;
        }

        &__mobsocials {
            margin-bottom: 20px;
        }

        &__mobsocial img {
            width: 32px;
            height: 32px;
        }
    }

    .back {
        margin-bottom: 40px;

        &__btn {
            gap: 10px;

            &-img {
                width: 21px;
                height: 11px;
            }

            &-text {
                font-size: 18px;
            }
        }
    }

    .search {
        &__form {
            &-inputs {
                column-gap: 30px;
            }

            &-input,
            &-select {
                max-width: 158px;
                width: 100%;
                font-size: 14px;
                height: 50px;
                padding: 0 14px;
            }

            &-real-select {
                font-size: 14px;
            }

            &-select {
                &::after {
                    right: 10px;
                }
            }

            &-wrapper {
                max-width: 158px;
                width: 100%;
            }

            &-btn {
                max-width: 346px;
                width: 100%;
                height: 64px;
                font-size: 14px;
                font-weight: 600;
            }
        }

        .price-wrapper {
            max-width: 346px;
            width: 100%;

            .search__form-select {
                max-width: 346px;
            }
        }
    }

    .filters {
        margin-bottom: 45px;

        &__wrapper {
            gap: 25px;
            justify-content: center;
        }

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            &-box {
                width: 64px;
                height: 64px;

                svg {
                    width: 25px;
                    height: auto;
                }
            }

            &-text {
                font-size: 14px;
                position: absolute;
                bottom: -13px;
            }
        }
    }

    .cards {
        margin-bottom: 30px;

        &__item {
            &-top {
                margin-bottom: 3px;
            }

            &-title {
                font-size: 16px;
                font-weight: 600;
            }

            &-id {
                font-size: 16px;
                font-weight: 400;
            }

            &-text {
                font-size: 14px;
            }

            &-text + &-text {
                margin-top: 3px;
            }

            &-price {
                font-size: 13px;
                font-weight: 600;
                line-height: 19px;
                margin-top: 3px;
            }

            &-inner {
                padding: 0 10px 12px 10px;
            }

            &-bottom {
                align-items: end;
            }

            &-like,
            &-dislike {
                width: 30px;
                height: 30px;
            }

            &.mob-hidden {
                display: none;
            }
        }
    }

    .pagination {
        margin-bottom: 30px;

        &__wrapper {
            gap: 7px;
        }

        &__item {
            width: 37px;
            height: 37px;
            font-size: 20px;
            line-height: 26px;
        }
    }

    .request {
        margin-bottom: 30px;

        &__wrapper {
            gap: 30px;
        }

        &__info {
            &-title {
                font-size: 20px;
                margin-bottom: 15px;
            }

            &-text {
                font-size: 14px;
            }
        }

        &__form {
            gap: 10px;

            &-input,
            &-area {
                border-width: 2px;
                font-size: 14px;
                line-height: 18px;
            }

            &-input {
                padding: 0 14px;
                height: 47px;
            }

            &-area {
                padding: 14px;
                height: 107px;
            }

            &-box {
                gap: 10px;
                margin-bottom: 5px;
            }

            &-label {
                width: 21px;
                height: 21px;
            }

            &-text {
                font-size: 10px;
            }

            &-btn {
                border-radius: 10px;
                font-size: 14px;
                height: 64px;
            }
        }
    }

    .contact {
        background-image: url(../images/contact-bg-mob.webp);
        height: 505px;
        padding: 0;

        &__info {
            height: 405px;
            justify-content: space-between;

            &-text {
                font-size: 26px;
                text-align: left;
            }

            &-btn {
                width: 275px;
                height: 53px;
                font-size: 14px;
            }
        }
    }

    .footer {
        padding-top: 50px;

        &__wrapper {
            gap: 65px;
        }

        &__list {
            &-item a {
                font-size: 14px;
            }

            &-item + &-item {
                margin-top: 30px;
            }
        }

        &__inner {
            margin-bottom: 45px;
        }

        &__btn {
            max-width: 346px;
            width: 100%;
            height: 60px;
            font-size: 14px;
        }

        &__socials {
            gap: 25px;

            &-item {
                width: 32px;
                height: 32px;
            }
        }

        &__copy {
            padding: 13px 0;
        }
    }
}

@media screen and (max-width: 375px) {
    .menu {
        &__mobsocials {
            gap: 15px;
        }
    }
}

@media screen and (max-width: 370px) {
    .search {
        &__form {
            &-inputs {
                gap: 20px;
            }
        }

        .price-wrapper {
            max-width: 158px;

            .search__form-select {
                max-width: 158px;
            }
        }
    }

    .filters {
        &__wrapper {
            flex-wrap: wrap;
            max-width: 200px;
            width: 100%;
        }
    }

    .footer__list-item a {
        font-size: 12px;
    }
}
